.tag {
    margin: 0.25rem;
}

.light-mode {
    display: inline-block;
    background-color: #454e58;
}

.dark-mode {
    display: inline-block;
    margin-left: 0.25rem;
    background-color: #e5e7ea;
}

.support-red {
    background-color: red;
}

.support-orange{background-color: #3e4aeb;color: white;}

.button_further{
    margin-left: 50px;
    margin-bottom: 10px;
}